@font-face{
  font-family: "Roboto";
  src:url(https://files.catbox.moe/bqnorq.ttf)
}

@font-face{
  font-family: "Apple";
  src: url(https://files.catbox.moe/qyspx1.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

.offers-div {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  background-color: #3f1a1d;
  color: white;
}
.disscount-p {
  border: 3px solid green;
  width: 30%;
  display: inline;
}
.navbar {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.navbar-links-1 {
  border: 4px solid green;
  display: inline;
}
.navbar-links-2 {
  border: 4px solid green;
  display: inline;
}
.main {
  border: 4px solid red;
  padding: 5em 1em;
}
.main-title {
  font-size: 4rem;
  width: 50%;
  margin: 0.5em 0;
}

.favourites {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#few{
  font-family: "Apple", serif;
}

.fav-productcontainer {
  border: 4px solid green;
  width: 100%;
  margin: 2em 0;
  display: flex;
}

.fav-productcontainer > * {
  border: 4px solid yellow;
}

.product {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.innovative {
  border: 4px solid red;
  display: flex;
  background-color: #f7f0ea;
}
.innovative > * {
  border: 4px solid green;
}
.innovative-img {
  width: 50%;
}
.innovative-content {
  width: 50%;
  padding: 2em;
}

#Keep {
  font-family: "Apple", serif;
}

.bags-1 {
  border: 4px solid yellow;
  display: flex;
  flex-direction: row;
}
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiration {
  border: 4px solid red;
  display: flex;
  background-color: #f7f0ea;
}
.inspiration > * {
  border: 2px solid green;
}
.inspiration-content {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#2024 {
  font-family: "Apple", serif;
}

.inspiration-image {
  width: 50%;
}

.category {
  border: 4px solid red;
  padding: 2em;
  display: flex;

}

.category > * {
  border: 2px solid green;
}

.suitcases {
  display: flex; 
  flex-direction: column;
}

.bags {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#shop-by {
  font-family: "Apple", serif;
}

.accessories {
  display: flex; 
  flex-direction: column;
}

.sale {
  border: 4px solid red;
  padding: 2em;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

#selectsale {
  font-family: "Apple", serif; 
}

#shop-the-sale {
  background-color: white;
  color: black;
}

.changed-the-game {
  border: 4px solid red;
  padding: 2em;
  background-color: #f7f0ea;
}

.text1 {
  background-color: #f7f0ea;
  border-radius: 1em;
}

.text2 {
  background-color: #f7f0ea;
  border-radius: 1em;
}

.text3 {
  background-color: #f7f0ea;
  border-radius: 1em;
}

.luggage-images {
  border: 2px solid green;
  display: flex;
}

.luggage-images > * {
  border: 2px solid yellow; 
  position: relative; 
}

.text1 {
  border: black;
  position: absolute; 
  left: 5%; 
  bottom: 5%; 
}

.text2 {
  border: black;
  position: absolute; 
  left: 5%; 
  bottom: 5%; 
}

.text3 {
  border: black;
  position: absolute; 
  left: 5%; 
  bottom: 5%; 
}

.quote {
  border: 4px solid red; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: #f7f0ea;
}

.quote2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Apple", serif;
}

.icon {
  border: 2px solid green; 
  display: flex; 
  justify-content: center;
  align-content: flex end;
}

.travels {
  border: 4px solid red;
  padding: 2em;
  display: flex;
  background-color: #f7f0ea;
}

.travels > * {
  border: 2px solid green;
}

#inspire-your {
  font-family: "Apple", serif;
}

.travel-image {
  border: 4px solid red;
}

.shipping-returns {
  border: 4px solid red; 
  padding: 2em;
  display: flex; 
  background-color: black;
  color: white;
}

.shipping-returns > * {
  border: 2px solid green; 
  padding: 3em;
}

.more-info {
  border: 4px solid red;
  padding: 2em;
  display: flex;
  background-color: #f7f0ea;
}

.more-info > * {
  border: 2px solid green;
  display: flex; 
  flex-direction: column;
}

.shop {
  width: 17.5%;
}

.about {
  width: 17.5%;
}

.get-help {
  width: 17.5%;
}

.FAQS {
  width: 17.5%;
}

.icons {
  border: 2px solid yellow;
  display: flex; 
  justify-content: center;
}

.emails {
  width: 30%;
}

#emails-signup {
  font-family: "Apple", serif;
}

.email-address {
  border: 2px solid yellow;
  display: flex; 
  justify-content: center;
}

.bottom {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #f7f0ea;

}

.bottom > * {
  border: 2px solid green;
}

@media (max-width: 480px) {
  .offers-div > a,
  .navbar-links-1 {
    display: none;
  }

  .disscount-p {
    width: 50%;
  }

  .offers-div {
    justify-content: center;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .main {
    text-align: center;
    padding: 1.5em 0.5em;
  }
} 